.env

/tmp/*
/log/*.log
/.semaphore

/public/assets/*
/public/packs/*
/public/packs-test/*

.bundle

node_modules

.bash_history
.byebug_hist
.pry_history
yarn-debug.log*
.yarn-integrity
.yardoc
.idea

docker-compose.yml
