@import "settings";
@import "foundation_and_overrides";
@import "variables";

.base-container {
  margin: 30px auto 0;
}

.active {
  color: map-get($map: $foundation-palette, $key: "secondary");
  cursor: not-allowed;
}

.pagination-block {
  margin: 25px 0;
}

.invisible {
  display: none;
  visibility: hidden;
}

.top-bar-center {
  flex: 1 0 auto;
}
