.item-card {
  display: block;
  height: 210px;
  margin: 10px 0;
  padding: 10px 15px;
  border: 0;
  box-shadow: $card-shadow;
  box-sizing: border-box;
}

.item-link {
  color: $default-text-color;
}
