.item-card {
  display: block;
  min-height: 250px;
  margin: 10px 0;
  padding: 10px 15px;
  border: 0;
  box-shadow: $card-shadow;
  box-sizing: border-box;
}

.item-link {
  color: $default-text-color;
}

.item-checkout {
  display: block;
  min-width: 400px;
  height: 43px;
  margin: 25px auto 5px;

  &__button {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
}
